body {
	margin: 0;
	font-family: Arial, sans-serif;
  }
  
  .menu-icon {
	display: block;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
  }
  
  .menu {
	display: none;
  }
  
  #menu-toggle:checked + .menu {
	display: block;
  }
  
  .menu ul {
	list-style-type: none;
	padding: 0;
  }
  
  .menu ul li {
	padding: 10px;
  }
  
  .menu ul li a {
	text-decoration: none;
	color: #333;
  }
  
  